.cat {
  position: relative;
  margin-top: 10rem;
  width: 750px;
  height: 670px;
  background-color: #1c1c1c;
  border: 4px 4px 4px 4px #cccccc;
  border-radius: 9px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  @media screen and (max-width: 1300px) {
    margin-top: 3rem;
    width: 650px;
    height: 470px;
  }
  &-text {
    position: absolute;
    top: 25px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.8rem;
    color: #fff;
  }

  &-img {
    border-radius: 6px;
    margin-top: 110px;
    border: #FDDA0D 2px solid;
    width: 500px;
    height: 350px;

    @media screen and (max-width: 1300px) {
      margin-top: 130px;
      width: 400px;
      height: 250px;
    }
  }

  &-button {
    position: absolute;
    top: 105px;
    padding: .5rem 2rem;
    border: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 1.2rem;
    border-radius: 8px;
    color: #fff;
    background: rgb(99 102 241);
    cursor: pointer;
    transition: all .2s;

    &:hover {
      background: rgb(67 56 202);
    }

    @media screen and (max-width: 1300px) {
      top: 85px;
    }
  }

  &-spinner {
    margin-top: 30px;
  }
}

.gg-spinner {
  transform: scale(var(--ggs, 1));
  box-sizing: border-box;
  position: relative;
  display: block;
  width: 200px;
  height: 200px;
  color: #fff;

  &::after, &::before {
    box-sizing: border-box;
    position: relative;
    display: block;
    width: 200px;
    height: 200px;
  }

  &::after {
    content: "";
    position: absolute;
    border-radius: 100px;
  }

  &::before {
    content: "";
    position: absolute;
    border-radius: 100px;
    animation: spinner 1s cubic-bezier(0.6, 0, 0.4, 1) infinite;
    border: 3px solid transparent;
    border-top-color: currentColor;
  }

  &::after {
    border: 3px solid;
    opacity: 0.2;
  }
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}